@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --ff-one: 'Manrope', sans-serif;
    /*  */
    --weight-title: 800;
    --weight-others: 700;
    --weight-btn: 600;
    --weight-bdy-one: 500;
    --weight-bdy-two: 400;
    /*  */
    --backg-one: white;
    --backg-two: #F84646;
    --backg-three: #F4F5F7;
    --backg-four: black;
    /*  */
    --clr-one: black;
    --clr-two: white;
    --clr-three:#808080;
}

/** HEADER */
.h--container{
    background-image: url('assets/header_00.png');
    background-position: no-repeat;
    background-size: 100% 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 2rem;
    position: relative;
}

.h--container::before{
    content: '';
    width: 100%;
    height: 100%;
    background: radial-gradient(
        118.67% 101.66% at 141.47% 78.12%,
        #FFFFFF 0%, 
        rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;    
}

/** HEADER 1º BOX */
.h--top{
    width: 80%;
    margin: 0 auto 10vw;
}

.h__nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
}

.h__ul{
    display: flex;
    gap: 2rem;
 /** transform-origin: top;
 /** transition: transform 250ms ease-in-out; */
}

.h__ul a{
    font-size: clamp(.9rem, 2vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-others);
    color: var(--clr-one);
}

/** MENU */
.nav-toggle{
    display: none;
}

.nav-toggle:checked ~ .h__ul{
    transform: scale(1,1);
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toogle-label{
    width: 45px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.nav-toggle-span,
.nav-toggle-span::before,
.nav-toggle-span::after{
    width: 20px;
    height: 2px;
    border-radius: 2px;
    display: block;
    background-color: var(--backg-four);
    position: relative;
    display: none;
}

.nav-toggle-span::before,
.nav-toggle-span::after{
    content: '';
    position: absolute;
}

.nav-toggle-span::before{
    top: .45rem;
}

.nav-toggle-span::after{
    bottom: .4rem;
}
/** MENU END */

.h__btn{
    font-size: clamp(.9rem, 2vw, 1.2rem);
    border-radius: 5px;
    padding: .5em 1em;
    background-color: var(--backg-two);
    color: var(--clr-two);
    cursor: pointer;
    border: none;
}

/** HEADER 2º BOX */
.h--txt{
    width: 82%;
    margin: 0 auto;
    padding-bottom: 10vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.h__title{
    width: min(17ch, 100%);
    font-size: clamp(2.6rem, 4.8vw, 5.8rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-title);
    color: var(--clr-one);
}

.h__body{
    width: min(55ch, 100%);
    font-size: clamp(.75rem, 1.45vw, 1.7rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-bdy-two);
    color: var(--clr-one);
    line-height: 36px;
    letter-spacing: .3px;
}

.h--btn--wrapper{
    width: 43%;
    border-radius: 8px;
    border: 5px solid white;
    background-color: var(--backg-three);
    display: flex;
    align-items: center;
}

.h__input{
    height: 55px;
    border-radius: 8px;
    outline: none;
    border: none;
    flex: 1;
}

.h__input::placeholder{
    font-size: clamp(.9rem, 2vw, 1.2rem);
    padding-left: 1rem;
}

.h__btn__txt{
    font-size: clamp(.9rem, 2vw, 1.2rem);
    border-radius: 5px;
    padding: 1em 2em;
    background-color: var(--backg-two);
    color: var(--clr-two);
    cursor: pointer;
    border: none;
}
