@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --ff-one: 'Manrope', sans-serif;
    --ff-two: 'Inter', sans-serif;
    /*  */
    --weight-one: 800;
    --weight-two: 700;
    --weight-three: 600;
    --weight-four: 500;
    --weight-five: 400;
    /*  */
    --backg-one: white;
    --backg-two: #F84646;
    --backg-three: #F4F5F7;
    --backg-four: black;
    /*  */
    --clr-one: black;
    --clr-two: white;
    --clr-three:#808080;
    --clr-four: #E6E6E6;
}

/** HEADER */
.h--container{
    background-image: url('assets/header_00.png');
    background-position: no-repeat;
    background-size: 100% 100%;
    max-width: 1920px;
    margin: 0 auto 4vw;
    padding-top: 2rem;
    position: relative;
}

.h--container::before{
    content: '';
    width: 100%;
    height: 100%;
    background: radial-gradient(
        118.67% 101.66% at 141.47% 78.12%,
        #FFFFFF 0%, 
        rgba(255, 255, 255, 0) 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;    
    display: none;
}

/** HEADER 1º BOX */
.h--top{
    width: 80%;
    margin: 0 auto 10vw;
}

.h__nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 3rem;
    position: relative;
}

.h__ul{
    display: flex;
    gap: 2vw;
}

.h__ul a{
    font-size: clamp(.9rem, 1.3vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-two);
    color: var(--clr-one);
}

/** MENU */
.nav-toggle{
    display: none;
}

.nav-toggle:checked ~ .h__ul{
    transform: scale(1,1);
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toogle-label{
    cursor: pointer;
}

.nav-toggle-span,
.nav-toggle-span::before,
.nav-toggle-span::after{
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background: var(--backg-four);
    position: relative;
    display: none;
}

.nav-toggle-span::before,
.nav-toggle-span::after{
    content: '';
    position: absolute;
}

.nav-toggle-span::before{
    top: .45rem;
}

.nav-toggle-span::after{
    bottom: .4rem;
}
/** MENU END */

.h__btn{
    font-size: clamp(.9rem, 2vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-two);
    border-radius: 5px;
    padding: .5em 1em;
    background: var(--backg-two);
    color: var(--clr-two);
    cursor: pointer;
    border: none;
}

/** HEADER 2º BOX */
.h--txt{
    width: 84%;
    margin: 0 auto;
    padding-bottom: 10vw;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    z-index: 1;
}

.h__title{
    width: min(17ch, 100%);
    font-size: clamp(2.2rem, 4.8vw, 5.8rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-one);
    color: var(--clr-one);
}

.h__body{
    width: min(55ch, 100%);
    font-size: clamp(.75rem, 1.45vw, 1.7rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-five);
    color: var(--clr-one);
    line-height: 36px;
    letter-spacing: .3px;
}

.h--btn--wrapper{
    width: 43%;
    border-radius: 8px;
    border: 5px solid white;
    background: var(--backg-three);
    display: flex;
    align-items: center;
}

.h__input{
    height: 4vw;
    font-size: clamp(.9rem, 2vw, 1.2rem);
    border-radius: 8px;
    outline: none;
    border: none;
    flex: 1;
}

.h__input::placeholder{
    font-size: clamp(.9rem, 1.5vw, 1.2rem);
    padding-left: 1rem;
}

.h__btn__txt{
    width: 10vw;
    height: 4vw;
    font-size: clamp(.9rem, 1vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-btn);
    border-radius: 5px;
    background: var(--backg-two);
    color: var(--clr-two);
    cursor: pointer;
    border: none;
}

/** MAIN 1º CONTAINER */
.card--container{
    max-width: 1920px;
    margin: 0 auto 8rem;
    background: var(--backg-one);
}

/** MAIN 1º BOX */
.card--box--txt{
    width: 100%;
    margin: 0 auto 5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.card__box__title{
    font-size: clamp(1.5rem, 3vw, 3.5rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-one);
    color: var(--clr-one);
    text-align: center;
}

.card__box__body{
    width: min(70ch, 100%);
    font-size: clamp(.75rem, 1.5vw, 1.5rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-five);
    color: var(--clr-one);
    line-height: 40px;
    letter-spacing: 0.2px;
    text-align: center;
}

/** MAIN 2º BOX */
.card--wrapper{
    width: 92%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 1vw;
    row-gap: 5rem;
}

.card--box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.card__title{
    font-size: clamp(1.5rem, 1.5vw, 1.5rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-one);
    color: var(--clr-one);
    text-align: center;
}

.card__body{
    width: min(80%, 100%);
    font-size: clamp(1.125rem, 1.5vw, 1.5rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-five);
    color: var(--clr-one);
    line-height: 28px;
    letter-spacing: 0.2px;
    text-align: center;
}

/** CARD IMG CONFIG */
.card__fig{
    position: relative;
}

.card__img{
    width: 5vw;
    position: relative;
    z-index: 1;
}

.ellipse__pink,
.ellipse__lightblue,
.ellipse__red,
.ellipse__yellow{
    width: 2.5vw;
    position: absolute;
    right: 0;
}

.ellipse__lightblue{
    top: 1rem;
    right: -.5rem;
}

.ellipse__yellow{
    right: 1rem;
}

.ellipse__purple,
.ellipse__blue{
    width: 2.5vw;
    position: absolute;
    top: 1rem;
    left: 0;
}

/** MAIN 2º CONTAINER */
.plans--container{
    max-width: 1920px;
    margin: 0 auto 7rem;
    padding: 5rem 0;
    background: var(--backg-two);
}

/** MAIN 2º C. 1º BOX */
.plans--txt{
    width: 100%;
    margin: 0 auto 4rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.plans__title{
    font-size: clamp(2rem, 3.7vw, 5rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-one);
    color: var(--clr-two);
    text-align: center;
}

.plans__sub{
    font-size: clamp(0.9rem, 1.2vw, 1.5rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-five);
    color: var(--clr-two);
    text-align: center;
}

/** MAIN 2º C. 2º BOX */
.plans--info{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.plans__body{
    width: 20ch;
    font-size: clamp(1.125rem, 1.2vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-one);
    color: var(--clr-two);
    line-height: 22px;
}

.plans__body:first-child{
    text-align: right;
}

.arrow__img{
    width: 3vw;
}

/** MAIN 3º CONTAINER */
.management--container{
    max-width: 1920px;
    margin: 0 auto 8rem;
    background: var(--backg-one);
}

/** MAIN 3º C. BOX */
.management--wrapper{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: 100%;
    align-items: center;
    row-gap: 8rem;
}

.manag__img:first-of-type{
    margin-left: 4vw;
}

.manag__img{
    width: 78%;
}

.manag__img__m,
.management__mobile{
    display: none;
}

.management--top,
.management--bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.management__title{
    width: 90%;
    font-size: clamp(2.25rem, 4.5vw, 7rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-one);
    margin-bottom: 2vw;
    color: var(--clr-one);
}

.management__body{
    width: 90%;
    font-size: clamp(.9rem, 1.5vw, 1.5rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-five);
    margin-bottom: 5vw;
    color: var(--clr-three);
    line-height: 40px;
}

.management__btn{
    font-size: clamp(.9rem, 2vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-btn);
    border-radius: 8px;
    padding: 1em 4em;
    background-color: var(--backg-two);
    color: var(--clr-two);
    cursor: pointer;
    border: none;
}

/** MAIN 4º CONTAINER */
.company--container{
    max-width: 1920px;
    margin: 0 auto 5rem;
    padding-top: 3rem;
    background: var(--backg-three);
}

/** MAIN 4º C. 1º BOX */
.company--txt{
    width: 100%;
    margin: 0 auto 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.company__title{
    font-size: clamp(2.25rem, 3.5vw, 5rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-one);
    color: var(--clr-one);
}

.company__sub{
    font-size: clamp(0.8rem, 1.9vw, 1.7rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-four);
    color: var(--clr-one);
}

/** MAIN 4º IMG BOX */
.company--img--wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.img__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company__img{
    width: 100%;
}

/** MAIN 5º CONTAINER */
.contact--container{
    max-width: 1920px;
    margin: 4rem auto 5rem;
    background: var(--backg-one);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact--wrapper{
    display: flex;
    justify-content: center;
    position: relative;
}

.contact__img{
    width: 100%;
    position: relative;
    z-index: 1;
}

.contact__ellipse{
    width: 50%;
    position: absolute;
    top: .5rem;
    right: .4rem;
}

.contact__title{
    font-size: clamp(2rem, 3vw, 4rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-one);
    margin-bottom: .5vw;
    color: var(--clr-one);
}

.contact__body{
    font-size: clamp(0.8rem, 1.2vw, 1.5rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-four);
    margin-bottom: 2vw;
    color: var(--clr-one);
    text-align: center;
}

.contact__btn{
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-family: var(--ff-one);
    font-weight: var(--weight-btn);
    border-radius: 8px;
    padding: 1em 2em;
    background-color: var(--backg-two);
    color: var(--clr-two);
    cursor: pointer;
    border: none;
}

/** FOOTER */
.f--container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 4rem 0 3rem;
    background: var(--backg-two);
}

/** FOOTER 1º BOX */
.f--info{
    width: 85%;
    margin: 0 auto 4rem;
    padding-right: 5vw;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.f__nav__title{
    font-size: clamp(1rem, 1.7vw, 1.5rem);
    font-family: var(--ff-two);
    font-weight: var(--weight-two);
    margin-bottom: 1.5rem;
    color: var(--clr-two);
}

.f--ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.f--ul a{
    font-size: clamp(1rem, 1.4vw, 1.2rem);
    font-family: var(--ff-two);
    font-weight: var(--weight-five);
    color: var(--clr-four);
}

/** FOOTER 2º BOX */
.f--social{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.f__copyright{
    font-size: clamp(1rem, 1.4vw, 1.2rem);
    font-family: var(--ff-two);
    font-weight: var(--weight-five);
    color: var(--clr-four);
}

.fig__social{
    display: flex;
    gap: .5rem;
}

.social__img{
    width: 100%;
}

@media (max-width:1024px){
    .card--wrapper{
        grid-template-columns: repeat(2, 1fr);
    }

    .card__img{
        width: 10vw;
    }

    .ellipse__pink,
    .ellipse__lightblue,
    .ellipse__red,
    .ellipse__yellow,
    .ellipse__purple,
    .ellipse__blue{
        width: 5vw;
    }

    .management--wrapper{
        width: 95%;
        row-gap: 2rem;
    }

    .manag__img:first-of-type{
        margin-left: 0;
    }

    .m__img__mobile,
    .mobile__management{
        display: none;
    }

    .management__title{
        margin-bottom: 1rem;
    }
    
    .management__body{
        margin-bottom: 3rem;
    }

    .manag__img__m,
    .management__mobile{
        display: initial;
    }

    .manag__img{
        width: 100%;
    }
}

@media (max-width:900px){
    /** HEADER RESPONSIVE */
    .h--container{
        margin-bottom: 5rem;
    }

    .h--container::before{
        display: initial;
    }

    .h--top{
        width: 70%;
        margin: 0 auto 3rem;
    }

    .h__nav{
        justify-content: space-between;
    }

    .h__ul{
        width: 100%;
        flex-direction: column;
        align-items: center;
        background: var(--backg-one);
        border-radius: 0 0 5px 5px;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 9999;
        transform: scale(1,0);
        transform-origin: top;
        transition: transform 250ms ease-in-out;
    }

    .nav-toggle-span,
    .nav-toggle-span::before,
    .nav-toggle-span::after{
        display: block;
    }

    .h--txt{
        width: 90%;
        align-items: center;
    }

    .h__title{
        text-align: center;
    }

    .h__body{
        text-align: center;
        line-height: 23px;
    }
    
    .h--btn--wrapper{
        width: 100%;
    }

    .h__input{
        height: 50px;
    }
        
    .h__btn__txt{
        width: 25%;
        height: 50px;
    }

    /** MAIN 2º CONTAINER RESPONSIVE */
    .plans--info{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .arrow__img{
        width: 10%;
    }

    .plans__body:first-child,
    .plans__body{
        width: 80%;
        text-align: center;
    }

    /** MAIN 3º CONTAINER RESPONSIVE */
    .management--wrapper{
        width: 90%;
        grid-template-columns: 1fr;
    }

    .manag__img{
        order: 1;
    }

    .manag__img__m{
        order: 3;
    }

    .management--top{
        width: 100%;
        align-items: center;
        order: 2;
    }

    .management--bottom{
        width: 100%;
        align-items: center;
        order: 4;
    }

    .management__title{
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
    }

    .management__body{
        width: 100%;
        line-height: 28px;
        text-align: center;
    }

    .management__btn{
        width: 100%;
    }

    /** FOOTER RESPONSIVE */
    .f--container{
        width: 100%;
    }

    .f--info{
        width: 90%;
        margin: 0 auto 2rem;
        flex-direction: column;
    }

    .f--social{
        width: 90%;
        flex-flow: column-reverse;
        align-items: flex-start;
    }
}

@media (max-width:650px){
    /** MAIN CARD CONTAINER */
    .card__box__body{
        line-height: 22px;
    }

    .card--wrapper{
        grid-template-columns: 1fr;
    }

    .card__img{
        width: 100%;
    }

    .ellipse__pink,
    .ellipse__lightblue,
    .ellipse__red,
    .ellipse__yellow,
    .ellipse__purple,
    .ellipse__blue{
        width: 50%;
    }

    .card__body{
        width: 100%;
    }

    .card--pink{
        order: 1;
    }

    .card--purple{
        order: 2;
    }

    .card--red{
        order: 3;
    }

    .card--blue{
        order: 4;
    }

    .card--yellow{
        order: 5;
    }

    .card--lightblue{
        order: 6;
    }

    /** MAIN 4º CONTAINER RESPONSIVE */
    .company--img--wrapper{
        flex-direction: column;
        gap: 1rem;
    }

    .img__mobile{
        display: none;
    }

    /** MAIN 5º CONTAINER RESPONSIVE */
    .contact--container{
        padding: 0 1rem;
    }

    .contact__img{
        width: 70%;
    }
    
    .contact__ellipse{
        width: 35%;
        right: 1.4rem;
    }

    .contact__title{
        margin-bottom: 1rem;
    }
    
    .contact__body{
        margin-bottom: 2rem;
    }

    .contact__btn{
        padding: 1em 1.5em;
    }
}

@media (max-width:450px){
    .h--container{
        background-size: 200% 100%;
        background-position-x: 55%;
    }

    .h--top{
        width: 90%;
    }
}